In [1]:
import os
import pandas as pd

Task1: Merging files in a single csv file

In [2]:
files=[file for file in os.listdir('/Users/maazamjad/Desktop/python projects/Sales analysis')]
all_months_data=pd.DataFrame()
for file in files:
    df=pd.read_csv('/Users/maazamjad/Desktop/python projects/Sales analysis/'+file)
    all_months_data=pd.concat([all_months_data,df])
all_months_data.to_csv('Compiled_data.csv',index=False)

In [19]:
Compiled_data=pd.read_csv("Compiled_data.csv",header=0)
Compiled_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,295665,Macbook Pro Laptop,1,1700,12/30/19 00:01,"136 Church St, New York City, NY 10001"
1,295666,LG Washing Machine,1,600.0,12/29/19 07:03,"562 2nd St, New York City, NY 10001"
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001"
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016"
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301"

Task2# Now adding a month column utilizing int32 format

In [20]:
Compiled_data['month']=Compiled_data['Order Date'].str[0:2]
Compiled_data.head(5)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,month
0,295665,Macbook Pro Laptop,1,1700,12/30/19 00:01,"136 Church St, New York City, NY 10001",12
1,295666,LG Washing Machine,1,600.0,12/29/19 07:03,"562 2nd St, New York City, NY 10001",12
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001",12
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016",12
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301",12

Task3# Now cleaning dataset for data manupulation

In [21]:
Compiled_data['month']=Compiled_data['month'].as_type('int32')
Compiled_data['month']

AttributeError: 'Series' object has no attribute 'as_type'

Deleting nan rows

In [22]:
Compiled_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,month
0,295665,Macbook Pro Laptop,1,1700,12/30/19 00:01,"136 Church St, New York City, NY 10001",12
1,295666,LG Washing Machine,1,600.0,12/29/19 07:03,"562 2nd St, New York City, NY 10001",12
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001",12
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016",12
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301",12

In [23]:
V_compiled_set=Compiled_data.dropna(how='all')
V_compiled_set.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,month
0,295665,Macbook Pro Laptop,1,1700,12/30/19 00:01,"136 Church St, New York City, NY 10001",12
1,295666,LG Washing Machine,1,600.0,12/29/19 07:03,"562 2nd St, New York City, NY 10001",12
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001",12
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016",12
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301",12

In [24]:
V_compiled_set.isnull().value_counts()

Order ID  Product  Quantity Ordered  Price Each  Order Date  Purchase Address  month
False     False    False             False       False       False             False    186305
Name: count, dtype: int64

In [25]:
Compiled_data.isnull().value_counts()

Order ID  Product  Quantity Ordered  Price Each  Order Date  Purchase Address  month
False     False    False             False       False       False             False    186305
True      True     True              True        True        True              True        545
Name: count, dtype: int64

#Now removing redundant values

In [26]:
V_compiled_set.isnull().value_counts()
V_compiled_set['month'].astype('int32')

ValueError: invalid literal for int() with base 10: 'Or'

In [27]:
V_compiled_set['month']=V_compiled_set['month'].str[0:2] != 'Or'
V_compiled_set.head()

/var/folders/15/p8slnsc56j7_yqftlmb86xj80000gn/T/ipykernel_916/2480273173.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  V_compiled_set['month']=V_compiled_set['month'].str[0:2] != 'Or'

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,month
0,295665,Macbook Pro Laptop,1,1700,12/30/19 00:01,"136 Church St, New York City, NY 10001",True
1,295666,LG Washing Machine,1,600.0,12/29/19 07:03,"562 2nd St, New York City, NY 10001",True
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001",True
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016",True
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301",True

In [28]:
V_compiled_set['month']=V_compiled_set['month'].astype('int32')

/var/folders/15/p8slnsc56j7_yqftlmb86xj80000gn/T/ipykernel_916/459172352.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  V_compiled_set['month']=V_compiled_set['month'].astype('int32')

Now that the dataframe is clean ,we can work on the tasks we were given properly

In [29]:
#For finding the best sales we first need to understand the given Data
V_compiled_set['month']=V_compiled_set['Order Date'].str[0:2]
V_compiled_set.head()

/var/folders/15/p8slnsc56j7_yqftlmb86xj80000gn/T/ipykernel_916/1190202034.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  V_compiled_set['month']=V_compiled_set['Order Date'].str[0:2]

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,month
0,295665,Macbook Pro Laptop,1,1700,12/30/19 00:01,"136 Church St, New York City, NY 10001",12
1,295666,LG Washing Machine,1,600.0,12/29/19 07:03,"562 2nd St, New York City, NY 10001",12
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001",12
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016",12
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301",12

In [36]:
V_compiled_set['Quantity Ordered']=pd.to_numeric(V_compiled_set['Quantity Ordered'])

ValueError: Unable to parse string "Quantity Ordered" at position 254

In [37]:
V_compiled_set.info()

<class 'pandas.core.frame.DataFrame'>
Index: 186305 entries, 0 to 186849
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          186305 non-null  object
 1   Product           186305 non-null  object
 2   Quantity Ordered  186305 non-null  object
 3   Price Each        186305 non-null  object
 4   Order Date        186305 non-null  object
 5   Purchase Address  186305 non-null  object
 6   month             186305 non-null  object
dtypes: object(7)
memory usage: 11.4+ MB

In [42]:
V_compiled_set['month']=V_compiled_set['month'].astype('int32')

ValueError: invalid literal for int() with base 10: 'Or'

In [51]:
temp_set=V_compiled_set['month'][0:2]=='Or'
temp_set.head()

0    False
1    False
Name: month, dtype: bool